ul{
    display:flex;
    border:4px solid white;
    gap: 25px;
    list-style-type: none;
}
section{
    border:4px solid rgb(202, 175, 179);
}
li{
    border:4px solid rgb(202, 175, 179);
    background-color: rgb(202, 175, 179);
    border-radius: 10px;
}
body{
    background-color: white;
}
.title-discover{
    font-weight: bold;
}
.title-container{
    text-align: center;
}
.module-img{
    width: 100%;
    border-radius: 10px;
}